:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.2rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 1rem;
}

button {
  border-radius: 5px;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.notif {
  &.success {
    background-color: #4caf50;
    color: #8cec8f;
  }

  &.error {
    background-color: #f44336;
    color: #ff8a80;
  }

  &.warning {
    background-color: #ff990062;
    color: #fce8ca;
    font-weight: 400;
  }

  &.info {
    background-color: #2196f3;
    color: #81d4fa;
  }

  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: all 0.5s ease;
  transition: width 0.5s ease; // Add this line for smooth width transition
  padding: 0.2rem 0.3rem;

  .notif-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    &.true {
      display: none;
    }

    &.false {
      display: flex;
      padding: 0.2rem;
    }
  }
}
